# This is the main task, which will install all necessary packages and set configuration values.
---
- include: install.yml
  tags: [php, php-install]

- include: extensions.yml
  tags: [php, php-extensions]

- include: configure.yml
  tags: [php, php-configure]

- include: pecl.yml
  tags: [php, php-pecl]

